{% extends "main/base.html" %}
<!-- {% load static %} -->
{% block content %}



  <meta charset="UTF-8">
  <title>home</title>
</head>
<body>
<h2>Home</h2>
<div class="container">
    <div class="button mt-3 mb-3 ml-3 mr-3">
      <button>Staff</button>
    </div>
    <div class="button mt-3 mb-3 ml-3 mr-3">
      <button>Management</button>
    </div>
    <div class="button mt-3 mb-3 ml-3 mr-3">
      <a href="{% url 'register' %}"><button >Register</button></a>
      
    </div>
</div>


 





{% endblock content %}
