{% extends "main/base.html" %}
<!-- {% load static %} -->
{% block content %}



  <meta charset="UTF-8">
  <title>home</title>
</head>
<body>
<h2>Home</h2>
<div class="container">
    <div class="btn btn-secondary">
      <a href="{% url 'profile' %}"> Staff</a>
    </div>
    <div class="btn btn-secondary">
      <a href="{% url 'management' %}"> Management</a>
    </div>
    <div class="btn btn-secondary">
      <a href="{% url 'register' %}">Register</a>
      
    </div>
</div>
{% endblock content %}